In [1]:
import duckdb
import pandas as pd
pd.set_option('display.max_rows', 100)
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:////home/marialejandramantillab/dmeyf.db

In [2]:
%%sql
create or replace table competencia_02 as
select
    *
from read_csv_auto('~/buckets/b1/datasets/competencia_02.csv.gz')

Empty DataFrame
Columns: [Success]
Index: []

In [3]:
%%sql
select foto_mes, clase_ternaria, count(1) from competencia_02 group by 1,2 order by 1,2; -- 29209472

    foto_mes clase_ternaria  count(1)
0     201901         BAJA+1       659
1     201901         BAJA+2       732
2     201901       CONTINUA    123472
3     201902         BAJA+1       734
4     201902         BAJA+2       698
5     201902       CONTINUA    124465
6     201903         BAJA+1       698
7     201903         BAJA+2       747
8     201903       CONTINUA    125090
9     201904         BAJA+1       747
10    201904         BAJA+2       529
11    201904       CONTINUA    125782
12    201905         BAJA+1       530
13    201905         BAJA+2       690
14    201905       CONTINUA    126463
15    201906         BAJA+1       688
16    201906         BAJA+2       595
17    201906       CONTINUA    127896
18    201907         BAJA+1       596
19    201907         BAJA+2       638
20    201907       CONTINUA    129316
21    201908         BAJA+1       633
22    201908         BAJA+2       581
23    201908       CONTINUA    131390
24    201909         BAJA+1       583
25    201909         BAJA+2       556
26    201909       CONTINUA    133125
27    201910         BAJA+1       560
28    201910         BAJA+2       653
29    201910       CONTINUA    135300
30    201911         BAJA+1       654
31    201911         BAJA+2       759
32    201911       CONTINUA    137021
33    201912         BAJA+1       761
34    201912         BAJA+2       629
35    201912       CONTINUA    139076
36    202001         BAJA+1       633
37    202001         BAJA+2       541
38    202001       CONTINUA    142586
39    202002         BAJA+1       547
40    202002         BAJA+2       217
41    202002       CONTINUA    146087
42    202003         BAJA+1       218
43    202003         BAJA+2       385
44    202003       CONTINUA    148385
45    202004         BAJA+1       381
46    202004         BAJA+2       516
47    202004       CONTINUA    148583
48    202005         BAJA+1       516
49    202005         BAJA+2       647
50    202005       CONTINUA    149710
51    202006         BAJA+1       651
52    202006         BAJA+2       644
53    202006       CONTINUA    152090
54    202007         BAJA+1       646
55    202007         BAJA+2       540
56    202007       CONTINUA    154160
57    202008         BAJA+1       544
58    202008         BAJA+2       471
59    202008       CONTINUA    155651
60    202009         BAJA+1       477
61    202009         BAJA+2       559
62    202009       CONTINUA    156993
63    202010         BAJA+1       560
64    202010         BAJA+2       530
65    202010       CONTINUA    158386
66    202011         BAJA+1       530
67    202011         BAJA+2       615
68    202011       CONTINUA    159345
69    202012         BAJA+1       617
70    202012         BAJA+2       628
71    202012       CONTINUA    159888
72    202101         BAJA+1       629
73    202101         BAJA+2       806
74    202101       CONTINUA    160273
75    202102         BAJA+1       805
76    202102         BAJA+2      1042
77    202102       CONTINUA    160513
78    202103         BAJA+1      1049
79    202103         BAJA+2       963
80    202103       CONTINUA    161311
81    202104         BAJA+1       965
82    202104         BAJA+2      1172
83    202104       CONTINUA    161496
84    202105         BAJA+1      1172
85    202105         BAJA+2       904
86    202105       CONTINUA    162025
87    202106         BAJA+1       910
88    202106         BAJA+2    163510
89    202107         BAJA+1    164682

In [4]:
%%sql
select * from competencia_02 where clase_ternaria is null limit 10;

Empty DataFrame
Columns: [numero_de_cliente, foto_mes, active_quarter, cliente_vip, internet, cliente_edad, cliente_antiguedad, mrentabilidad, mrentabilidad_annual, mcomisiones, mactivos_margen, mpasivos_margen, cproductos, tcuentas, ccuenta_corriente, mcuenta_corriente_adicional, mcuenta_corriente, ccaja_ahorro, mcaja_ahorro, mcaja_ahorro_adicional, mcaja_ahorro_dolares, cdescubierto_preacordado, mcuentas_saldo, ctarjeta_debito, ctarjeta_debito_transacciones, mautoservicio, ctarjeta_visa, ctarjeta_visa_transacciones, mtarjeta_visa_consumo, ctarjeta_master, ctarjeta_master_transacciones, mtarjeta_master_consumo, cprestamos_personales, mprestamos_personales, cprestamos_prendarios, mprestamos_prendarios, cprestamos_hipotecarios, mprestamos_hipotecarios, cplazo_fijo, mplazo_fijo_dolares, mplazo_fijo_pesos, cinversion1, minversion1_pesos, minversion1_dolares, cinversion2, minversion2, cseguro_vida, cseguro_auto, cseguro_vivienda, cseguro_accidentes_personales, ccaja_seguridad, cpayroll_trx, mpayroll, mpayroll2, cpayroll2_trx, ccuenta_debitos_automaticos, mcuenta_debitos_automaticos, ctarjeta_visa_debitos_automaticos, mttarjeta_visa_debitos_automaticos, ctarjeta_master_debitos_automaticos, mttarjeta_master_debitos_automaticos, cpagodeservicios, mpagodeservicios, cpagomiscuentas, mpagomiscuentas, ccajeros_propios_descuentos, mcajeros_propios_descuentos, ctarjeta_visa_descuentos, mtarjeta_visa_descuentos, ctarjeta_master_descuentos, mtarjeta_master_descuentos, ccomisiones_mantenimiento, mcomisiones_mantenimiento, ccomisiones_otras, mcomisiones_otras, cforex, cforex_buy, mforex_buy, cforex_sell, mforex_sell, ctransferencias_recibidas, mtransferencias_recibidas, ctransferencias_emitidas, mtransferencias_emitidas, cextraccion_autoservicio, mextraccion_autoservicio, ccheques_depositados, mcheques_depositados, ccheques_emitidos, mcheques_emitidos, ccheques_depositados_rechazados, mcheques_depositados_rechazados, ccheques_emitidos_rechazados, mcheques_emitidos_rechazados, tcallcenter, ccallcenter_transacciones, thomebanking, chomebanking_transacciones, ccajas_transacciones, ccajas_consultas, ...]
Index: []

[0 rows x 155 columns]

In [5]:
%%sql
select numero_de_cliente, foto_mes, clase_ternaria from competencia_02 where numero_de_cliente=114811302 limit 10;

   numero_de_cliente  foto_mes clase_ternaria
0          114811302    201901         BAJA+2
1          114811302    201904       CONTINUA
2          114811302    201905       CONTINUA
3          114811302    201906       CONTINUA
4          114811302    201907       CONTINUA
5          114811302    201908       CONTINUA
6          114811302    201909       CONTINUA
7          114811302    201910       CONTINUA
8          114811302    201911       CONTINUA
9          114811302    201912       CONTINUA