In [1]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:////home/marialejandramantillab/dmeyf.db

In [2]:
%%sql
create or replace table competencia_02 as
select
    *
from read_csv_auto('~/buckets/b1/datasets/competencia_02.csv.gz')

Empty DataFrame
Columns: [Success]
Index: []

In [4]:
%%sql
select * from competencia_02 
where clase_ternaria = 'BAJA+2' limit 10

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,29183981,202106,1,0,0,50,200,17886.05,166300.13,3481.49,...,7,0.00,-205275.00,0.00,6029,153559.69,100,0,70485.57,BAJA+2
1,29184630,202106,1,0,0,59,325,-1172.40,57659.42,4155.59,...,0,0.00,-70887.09,17.59,4180,55637.53,8,0,6463.23,BAJA+2
2,29185433,202106,1,0,0,68,271,1218.57,20993.39,589.67,...,21,4692.00,-4340.10,0.00,7920,1529.02,2,0,1560.09,BAJA+2
3,29185587,202106,1,0,0,80,325,4008.41,55524.97,2704.10,...,0,0.00,-24314.22,0.00,7671,17066.88,9,0,1079.16,BAJA+2
4,29185646,202106,1,0,0,60,260,2583.40,31376.74,2400.25,...,21,160630.78,-243671.60,0.00,7918,142873.73,26,0,9125.94,BAJA+2
5,29187499,202106,1,0,0,71,378,2437.03,55913.94,2548.04,...,7,0.00,-11733.84,0.00,8477,9046.87,2,0,692.07,BAJA+2
6,29188277,202106,1,0,0,67,325,2314.90,20586.40,1670.32,...,0,0.00,-7132.86,0.00,8708,3988.20,3,0,211.14,BAJA+2
7,29188490,202106,1,0,0,46,310,-706.54,-2802.55,2770.86,...,7,0.00,-145139.19,0.00,8449,143136.28,68,0,15718.20,BAJA+2
8,29188883,202106,1,0,0,66,325,35838.57,485370.37,2435.79,...,7,0.00,-3920.68,0.00,8385,2986.45,1,0,199.41,BAJA+2
9,29189950,202106,1,0,0,59,269,3977.13,58816.42,2391.58,...,0,0.00,-90300.34,0.00,4598,65760.57,18,0,8340.03,BAJA+2